apiVersion: v1
kind: Service
metadata:
  name: auth-service-svc
  labels:
    app: auth-service
spec:
  ports:
  - port: 8070
    targetPort: 8070
  selector:
    app: auth-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      # InitContainer: 等待 Storage 服务启动
      initContainers:
      - name: wait-for-storage
        image: busybox
        command: ['sh', '-c', 'echo Waiting for Storage... && until nc -z -w 2 storage-svc 8090; do sleep 1; done;']
      containers:
      - name: auth-service
        image: galaxygong/auth-service:v2.0 # <<<<<<<< 替换为您的镜像
        ports:
        - containerPort: 8070
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"