apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  labels:
    app: mongodb
spec:
  ports:
  - port: 27017
    name: tcp-27017
  selector:
    app: mongodb
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb
  serviceName: "mongodb-svc"
  replicas: 1 # 初始只需要一个副本
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6.0 # 使用官方公共镜像，如果您有私有镜像请替换
        ports:
        - containerPort: 27017
          name: mongodb-port
        volumeMounts:
        - name: mongo-persistent-storage
          mountPath: /data/db
  volumeClaimTemplates:
  - metadata:
      name: mongo-persistent-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: standard-gcp # GKE/GCP 环境下的标准 StorageClass
      resources:
        requests:
          storage: 5Gi