apiVersion: v1
kind: Service
metadata:
  name: mongodb-svc
  labels:
    app: mongodb
spec:
  ports:
  - port: 27017
    name: tcp-27017
  selector:
    app: mongodb
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
spec:
  selector:
    matchLabels:
      app: mongodb
  serviceName: "mongodb-svc"
  replicas: 1 # 确保只有一个副本，因为我们使用 ReadWriteOnce 模式
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      containers:
      - name: mongodb
        image: mongo:6.0 # 推荐使用官方公共镜像
        ports:
        - containerPort: 27017
          name: mongodb-port
        volumeMounts:
        - name: mongo-persistent-storage
          mountPath: /data/db # MongoDB 默认数据存储路径
  volumeClaimTemplates:
  - metadata:
      name: mongo-persistent-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      # 统一使用 'standard' 存储类以解决 PVC 绑定和调度问题
      storageClassName: standard 
      volumeMode: Filesystem
      resources:
        requests:
          storage: 5Gi